# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Email (SMTP para OTP y notificaciones)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=Colegio Londres

# URL pública del sitio (para links en emails)
NEXT_PUBLIC_APP_URL=https://portal-colegio-londres.vercel.app

# Contraseña del panel administrador
NEXT_PUBLIC_ADMIN_PASSWORD=
